.landing-page{position:relative;width:100%;height:100%;padding:0 20px;box-sizing:border-box}.landing-page__header-container{position:relative;z-index:3}.landing-page__background_first{background:url(4f46eaf9c0bb5900fcbfca7230af6f6a.png);animation:landing-animation-1 40s infinite}.landing-page__background_second{background:url(bc5b621d600ac6f8f6e730b8c5d3f157.png);animation:landing-animation-2 40s infinite}.landing-page__background_third{background:url(d5f93a460e55eb51fac1de0fcc4cfe50.png);animation:landing-animation-3 40s infinite}.landing-page__background{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center center;display:flex;justify-content:center;z-index:1}.landing-page__content-container{position:relative;width:100%;height:100%;box-sizing:border-box;max-width:1160px;padding:70px 0;z-index:1;margin:0 auto}.landing-page__card-container{width:100%;max-width:380px}.landing-page__body-text{position:absolute;width:297px;text-align:right;bottom:0;right:0;padding-bottom:18px;font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;color:rgba(31,32,65,0.75)}@keyframes landing-animation-1{0%{opacity:1}27%{opacity:1}33%{opacity:0}94%{opacity:0}100%{opacity:1}}@keyframes landing-animation-2{0%{opacity:0}27%{opacity:0}33%{opacity:1}60%{opacity:1}66%{opacity:0}100%{opacity:0}}@keyframes landing-animation-3{0%{opacity:0}60%{opacity:0}66%{opacity:1}94%{opacity:1}100%{opacity:0}}

.site-container{display:flex;flex-direction:column;min-height:100vh;justify-content:space-between}.header-section{display:flex}.content-section{display:flex;flex:1;justify-content:center}.footer-section{display:flex}article{width:100%}

@font-face{font-family:Montserrat;src:url(montserrat-light.woff) format("woff");font-style:normal;font-weight:300}@font-face{font-family:Montserrat;src:url(montserrat.woff) format("woff");font-style:normal;font-weight:400}@font-face{font-family:Montserrat;src:url(montserrat-bold.woff) format("woff");font-style:normal;font-weight:700}@font-face{font-family:Quicksand;src:url(quicksand.woff) format("woff");font-style:normal;font-weight:400}@font-face{font-family:Quicksand;src:url(quicksand-bold.woff) format("woff");font-style:normal;font-weight:700}@font-face{font-family:"Open Sans";src:url(open-sans-bold.woff) format("woff");font-style:normal;font-weight:700}@font-face{font-family:"Material Icons";font-style:normal;font-weight:normal;src:url(material-icons.woff) format("woff")}@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:normal;font-display:block;src:url(font-awesome-brands.woff) format("woff")}@font-face{font-family:Roboto;src:url(roboto-regular.woff) format("woff");font-style:normal;font-weight:normal}@font-face{font-family:Roboto;src:url(roboto-bold.woff) format("woff");font-style:normal;font-weight:700}.fab{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;font-family:"Font Awesome 5 Brands";font-weight:400}.fa-facebook-square:before{content:"\f082"}.fa-twitter:before{content:"\f099"}.fa-instagram:before{content:"\f16d"}.material-icons{font-family:"Material Icons";font-weight:normal;font-style:normal;font-size:1.71rem;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:"liga"}html{font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.71rem;color:rgba(31,32,65,0.75)}body{margin:0}h1{font-family:Quicksand, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;font-size:1.71rem;line-height:2.15rem;color:#1f2041}h2{font-family:Quicksand, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;font-size:1.35rem;line-height:1.72rem;color:#1f2041}h3{font-family:Montserrat, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;font-size:0.85rem;line-height:1.08rem;text-transform:uppercase;color:#1f2041}.links-wrapper{height:100vh;display:flex;justify-content:center;align-items:center}.links{font-family:Roboto, Helvetica, Arial, sans-serif;font-weight:700;font-size:1.8rem;display:inline-block;list-style-type:none;padding:0;margin:0;text-align:center}.links__item{margin:20px}.links__link{text-decoration:none;color:#8ba4f9;transition:color 0.3s ease-in}.links__link:hover{color:#bc9cff}

.registration{position:relative;width:100%;height:100vh;min-height:700px;box-sizing:border-box}.registration-page__background_first{background:url(5f18d15ffdd458266e902b51db1e3395.png);animation:registration-animation-1 40s infinite}.registration-page__background_second{background:url(139036caf7ad67b2d47c64c76ce1469f.png);animation:registration-animation-2 40s infinite}.registration__background{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center center;display:flex;justify-content:center;z-index:0}.registration__body-content{position:relative;width:100%;height:100%;box-sizing:border-box;max-width:1160px;padding:20px 0;z-index:1;margin:0 auto;display:flex;justify-content:center;align-items:center}.registration__card-container{width:380px;margin:0 10px}@keyframes registration-animation-1{0%{opacity:1}44%{opacity:1}50%{opacity:0}94%{opacity:0}100%{opacity:1}}@keyframes registration-animation-2{0%{opacity:0}44%{opacity:0}50%{opacity:1}94%{opacity:1}100%{opacity:0}}

.room-details__room-photos{display:flex;flex-direction:row}.room-details__main-photo{width:68.2%;height:0;background:url(fd7e57d89c29eed0693e791ce290ac2f.png);padding-bottom:33.7%;background-size:cover;background-position:center}.room-details__additional-photos{width:31.8%}.room-details__additional-photo-1{width:100%;height:50%;background:url(b614c393c3470b88f26dc604c81efb1e.png);background-size:100% auto}.room-details__additional-photo-2{width:100%;height:50%;background:url(6f38a1501178a821321307191717d496.png);background-size:cover;background-position:center}.room-details__details-section{width:100%;padding:0 20px 72px;display:flex;justify-content:center;box-sizing:border-box;border-bottom:1px solid rgba(31,32,65,0.25)}.room-details__central-container{padding-top:55px;width:100%;max-width:1160px;display:flex;justify-content:space-between}.room-details__room-info{max-width:61.2%}.room-details__details-container .room-details:first-of-type{padding-top:10px}.room-details__details-container .room-details:last-child{border:none;padding-bottom:18px}.room-details__top-info-section{display:flex;justify-content:start}.room-details__impressions-diagram{width:50%;min-width:240px;box-sizing:border-box;margin-left:11.3%}.room-details__details-title{font-family:"Open Sans", Helvetica, Arial, sans-serif;font-size:19px;margin-bottom:6px}.room-details__guest-review-container{width:100%;padding:11px 0}.room-details__reviews-count{color:rgba(31,32,65,0.5)}.room-details__reviews-header{display:flex;justify-content:space-between;align-items:baseline}.room-details__bottom-info-section{padding-top:8px;display:flex;justify-content:space-between}.room-details__details-container_bullet-list{max-width:300px}.room-details__details-title_bullet-list{padding-left:20px;padding-bottom:8px}.room-details__cancel-text{max-width:345px}.room-details__details-title_cancel{padding-bottom:8px}.room-details__rate-card-container{width:100%;max-width:380px;padding-top:15px}@media screen and (max-width: 1120px){.room-details__top-info-section{margin-left:5%;flex-direction:column;margin-bottom:30px}.room-details__impressions-diagram{margin-left:0}.room-details__rate-card-container{position:absolute;right:5%;padding-right:20px}.room-details__room-info{max-width:100%}.room-details__bottom-info-section{justify-content:space-evenly}}@media screen and (max-width: 850px){.room-details__rate-card-container{position:static;margin:30px auto 0}.room-details__central-container{flex-direction:column}.room-details__top-info-section{flex-direction:row;justify-content:space-evenly;margin-bottom:0;margin-left:0}}@media screen and (max-width: 660px){.room-details__top-info-section{flex-direction:column}.room-details__impressions-diagram{margin:0 auto 30px}.room-details__details-container{width:100%;display:flex;flex-direction:column;align-items:center}.room-details__bottom-info-section{flex-direction:column;align-items:center}.room-details__details-title_bullet-list{text-align:center;padding-left:0}.room-details__details-title_cancel{text-align:center}.room-details__details-container_bullet-list{margin-bottom:20px}}

.search-room{height:100%;box-sizing:border-box;background:white;width:100%;padding:0 20px;display:flex;justify-content:center;border-bottom:1px solid rgba(31,32,65,0.25);padding-bottom:70px}.search-room__content{box-sizing:border-box;width:100%;max-width:1160px;display:flex;justify-content:space-between}.search-room__sidebar{width:27%;display:flex;flex-direction:column}.search-room__filter{padding:20px;display:none;flex-direction:row;align-items:center;justify-content:center;cursor:pointer}.search-room__filter:hover,.search-room__filter h3:hover{transition:color 0.5s ease-in;color:rgba(31,32,65,0.5)}.search-room__filter h3:not(:hover){transition:color 0.5s ease-in}.search-room__filter h3{margin:0}.search-room__filter-check{display:none}.search-room__filter-options{width:100%;max-width:266px;display:block}.search-room__filter-date-container{margin-top:30px}.search-room__guests-dropdown-container{margin-top:21px}.search-room__range-slider-container{margin-top:18px;font-size:12px}.search-room__range-slider-container span{display:inline-block;color:rgba(31,32,65,0.5);margin-top:5px}.search-room__checkbox-container{margin-top:23px}.search-room__checkbox-container h3{margin-bottom:18px}.search-room__rich-checkbox-container h3{margin-top:31px;margin-bottom:17px}.search-room__comfort-dropdown-container{margin-top:30px}.search-room__expandable-checkbox-list-container{margin-top:24px}.search-room__rooms-section{width:71.8%}.search-room__rooms-title{font-family:"Open Sans", Helvetica, Arial, sans-serif;width:100%;margin-top:30px;margin-bottom:11px}.search-room__rooms{width:100%;height:100%;flex-wrap:wrap;display:flex;justify-content:space-between}.search-room__number-card-container{margin:10px 0;flex:none;width:32.5%}.search-room__pagination-container{width:100%;display:flex;justify-content:center;padding-top:33px}@media screen and (max-width: 1120px){.search-room__rooms{justify-content:space-evenly}.search-room__number-card-container{margin:10px 0;width:47%}.search-room__rooms-title{text-align:center}}@media screen and (max-width: 870px){.search-room__sidebar{width:100%}.search-room__filter-check:checked ~ .search-room__filter-options{max-width:100%;display:flex;justify-content:space-around}.search-room__filter-check:checked ~ .search-room__filter-options .search-room__option-column-one,.search-room__filter-check:checked ~ .search-room__filter-options .search-room__option-column-two{width:40%;max-width:266px}.search-room__number-card-container{width:47%}.search-room__content{flex-direction:column;align-items:center}.search-room__filter-options{display:none;margin:0 auto}.search-room__rooms-section{width:100%;padding:0}.search-room__filter{display:flex}}@media screen and (max-width: 600px){.search-room__filter-check:checked ~ .search-room__filter-options{display:flex;flex-wrap:wrap;flex-direction:column;align-items:center}.search-room__filter-check:checked ~ .search-room__filter-options .search-room__option-column-one,.search-room__filter-check:checked ~ .search-room__filter-options .search-room__option-column-two{width:100%}.search-room__number-card-container{width:80%;min-width:260px}}

.signin{position:relative;width:100%;height:100vh;min-height:700px;box-sizing:border-box}.signin__background_first{background:url(5f18d15ffdd458266e902b51db1e3395.png);animation:signin-animation-1 40s infinite}.signin__background_second{background:url(139036caf7ad67b2d47c64c76ce1469f.png);animation:signin-animation-2 40s infinite}.signin__background{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center center;display:flex;justify-content:center;z-index:0}.signin__content-container{position:relative;width:100%;height:100%;box-sizing:border-box;max-width:1160px;padding:20px 0;z-index:1;margin:0 auto;display:flex;justify-content:center;align-items:center}.signin__card-container{width:380px;margin:0 10px}@keyframes signin-animation-1{0%{opacity:1}44%{opacity:1}50%{opacity:0}94%{opacity:0}100%{opacity:1}}@keyframes signin-animation-2{0%{opacity:0}44%{opacity:0}50%{opacity:1}94%{opacity:1}100%{opacity:0}}

.section{max-width:1160px;margin:0 auto;padding:0 20px 100px 20px}.colors-and-type-section__title{font-family:Montserrat, Helvetica, Arial, sans-serif;margin-bottom:50px}.colors-and-type{width:100%;flex-direction:row;display:flex;align-items:flex-start}.colors-and-type__type{padding-left:20px;margin:-50px 0;max-width:420px;flex-direction:column}.colors-and-type__type-block{margin:50px 0}.colors-and-type__colors{margin:-20px 0;padding-right:5%;box-sizing:border-box;width:59%;min-width:190px;flex-direction:column}.colors-and-type__color-block{margin:20px 0}@media screen and (max-width: 500px){.colors-and-type{flex-direction:column;justify-content:center;align-items:center}.colors-and-type-section__title{text-align:center}.colors-and-type__colors{min-width:0;padding:0;margin-bottom:50px}.colors-and-type__type{padding:0}}.form-elements__three-column-section{width:100%;display:flex;justify-content:space-between;margin-bottom:100px;flex-wrap:wrap}.form-elements__column{width:30%;max-width:320px}.form-elements__column_100-percent-width{width:100%}.form-elements__block-wrapper{margin-bottom:22px;width:100%}.form-elements__block-wrapper_width-266{max-width:266px}.form-elements__block-title{margin-bottom:5px}.form-elements__block-title_vertical-margins-15{margin:15px 0}.form-elements__like-buttons-group{flex-direction:row;display:inline-flex;margin:0 -5px}.form-elements__like-button-block{margin:0 5px}.form-elements__rate-buttons-group{flex-direction:row;display:inline-flex;margin:0 -10px}.form-elements__rate-button-block{margin:0 10px}.form-elements__buttons-group{margin:50px 0}.form-elements__only-text-buttons-group{display:flex;margin:0 -10px}.form-elements__only-text-button-block{margin:0 10px}.form-elements__two-column-section{display:flex;flex-wrap:nowrap;justify-content:space-between}.form-elements__column_width-713{padding-left:50px;max-width:713px;display:flex;align-items:center}@media screen and (max-width: 905px){.form-elements__three-column-section{justify-content:space-around;margin-bottom:50px}.form-elements__column{width:40%;max-width:320px}.form-elements__three-column-layout{margin-bottom:0}.form-elements__title{text-align:center}}@media screen and (max-width: 675px){.form-elements__column{width:100%;max-width:320px}}@media screen and (max-width: 610px){.form-elements__two-column-section{flex-wrap:wrap;justify-content:center}.form-elements__three-column-section{margin:0}.form-elements__column_width-713{padding:0}}.cards{display:grid;grid-column-gap:10px;grid-template-columns:1fr 1fr 1fr;grid-template-areas:"one two three"}.cards__title{font-family:Montserrat, Helvetica, Arial, sans-serif;margin-bottom:50px}.cards__column{width:100%;max-width:380px}.cards__column-one{grid-area:one}.cards__column-two{grid-area:two}.cards__column-three{grid-area:three}.cards__block-wrapper{margin-bottom:22px;width:100%}.cards__block-wrapper_width-320{max-width:320px}.cards__column_width-270{width:100%;max-width:270px}@media screen and (max-width: 1000px){.cards{justify-items:center;grid-template-columns:1fr 1fr;grid-template-areas:"one two" "three three"}.cards__title{text-align:center}.cards__column-three{display:flex;flex-direction:column;align-items:center}}@media screen and (max-width: 700px){.cards{grid-template-columns:1fr;grid-template-areas:"one one" "two two" "three three"}}.headers-and-footers__title{max-width:1160px;margin:0 auto;padding:0 20px;font-family:Montserrat, Helvetica, Arial, sans-serif;margin-bottom:50px}@media screen and (max-width: 1000px){.headers-and-footers__title{text-align:center}}

.bullet-list__item__standard-theme{color:rgba(31,32,65,0.75)}.bullet-list__item__standard-theme::before{background:rgba(31,32,65,0.25)}

.bullet-list__item{position:relative;list-style-type:none;margin:10px 0}.bullet-list__item::before{border-radius:50%;position:absolute;content:"";width:10px;height:10px;left:-21px;top:6px}

.bullet-list__unordered-list{padding-left:21px;margin:0}

.button__arrow{pointer-events:none;position:absolute;right:0;transform:translate(-50%, -50%);top:50%;font-size:24px;color:#ffffff}

.button_only-text_gray{color:rgba(31,32,65,0.5)}

.button_only-text_purple{color:#bc9cff}

.button_only-text{background:#ffffff;width:unset;height:unset;padding:0;border:0}

.button_regular{padding:15px 20px;border:none;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);color:#ffffff}

.button_with-arrow{padding:15px 20px;border:none;width:100%;max-width:500px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);color:#ffffff}

.button_with-border{color:#bc9cff;padding:13px 20px;border:2px solid transparent;background-image:linear-gradient(white, white),linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);background-origin:border-box;background-clip:padding-box, border-box;-webkit-background-clip:padding-box, border-box}

.button_with-vertical-paddings-10{padding-top:10px;padding-bottom:10px}

.button_with-vertical-paddings-8{padding-top:8px;padding-bottom:8px}

.button{position:relative;box-sizing:border-box;border-radius:22px;font-weight:bold;font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:12px;text-transform:uppercase;transition:0.5s;cursor:pointer}.button:focus{outline:none}.button:hover{opacity:0.5}.button:active{transition:none;opacity:1}

.calendar__buttons-panel{padding-top:15px;display:flex;justify-content:space-between}

.calendar__day_current{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);color:white;font-weight:bold;border-radius:22px}

.calendar__day_other-month{color:rgba(31,32,65,0.25)}

.calendar__day_selectable{transition:opacity 0.5s ease;cursor:pointer}.calendar__day_selectable:hover{opacity:0.5}

.calendar__day_selected{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:22px;color:white;font-weight:bold}

.calendar__day{display:flex;justify-content:center;align-items:center;box-sizing:border-box;max-width:40px;width:100%}.calendar__day:before{content:"";display:block;padding-bottom:100%}

.calendar__days-section{margin-top:30px}

.calendar__month-button_standart-theme{color:#bc9cff}

.calendar__month-button{transition:opacity 0.5s ease;cursor:pointer}.calendar__month-button:hover{opacity:0.5}.calendar__month-button:active{transition:opacity 0s ease;opacity:1}

.calendar__month-name_standart-theme.scss{color:#1f2041}

.calendar__month-name{padding:0 10px;text-align:center;font-family:"Open Sans", Helvetica, Arial, sans-serif;font-weight:bold;font-size:19px}

.calendar__month-selection-section{flex-direction:row;display:flex;justify-content:space-between}

.calendar__names-of-week-days-section_standart-theme{color:#bc9cff}

.calendar__names-of-week-days-section{display:flex;justify-content:space-between;font-weight:bold;font-size:12px}

.calendar__range-highlight_left-rounded{border-radius:22px 0 0 22px}

.calendar__range-highlight_right-rounded{border-radius:0 22px 22px 0}

.calendar__range-highlight{background:linear-gradient(180deg, RGBA(188, 156, 255, 0.25) 0%, RGBA(139, 164, 249, 0.25) 100%)}

.calendar__week-day{display:flex;justify-content:center;align-items:center;box-sizing:border-box;max-width:40px;width:100%}.calendar__week-day:before{content:"";display:block;padding-bottom:100%}

.calendar__week-section{display:flex;justify-content:space-between}

.calendar_standart-theme{border:1px solid rgba(31,32,65,0.25);box-shadow:0px 10px 20px rgba(31,32,65,0.05)}

.calendar_without-top-border{border-radius:0 0 4px 4px;border-color:rgba(31,32,65,0.5);border-top:none}

.calendar{width:100%;max-width:500px;padding:20px;padding-bottom:15px;cursor:default;box-sizing:border-box;border-radius:4px}

.checkbox-button__checkbox-element{display:none}.checkbox-button__checkbox-element:checked+.checkbox-button__label:before{border-color:#bc9cff}.checkbox-button__checkbox-element:checked+.checkbox-button__label:after{transform:rotate(45deg) scale(1);animation:jumpUp 0.2s ease}@keyframes jumpUp{50%{-webkit-transform:scale(1.2) rotate(45deg)}100%{-webkit-transform:scale(1) rotate(45deg)}}

.checkbox-button__label_rich{width:100%;font-weight:bold;color:rgba(31,32,65,0.75)}.checkbox-button__label_rich:hover{color:#1f2041}

.checkbox-button__label{display:block;line-height:18px;color:rgba(31,32,65,0.5);transition:color 0.5s ease;cursor:pointer}.checkbox-button__label:hover{color:rgba(31,32,65,0.75)}.checkbox-button__label:before{content:"";width:18px;height:18px;border:1px solid rgba(31,32,65,0.25);position:absolute;left:0;top:-1px;border-radius:4px;transition:border-color 0.5s ease}.checkbox-button__label:hover::before{border-color:#bc9cff}.checkbox-button__label:after{content:"";position:absolute;left:7px;top:4px;width:4px;height:6px;border-right:2px solid;border-bottom:2px solid;transition:0.2s ease;transform:rotate(45deg) scale(0.1);border-image-source:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-image-slice:1}

.checkbox-button__text{padding-top:6px;width:100%;max-width:236px;font-size:0.85rem;color:rgba(31,32,65,0.5);line-height:14px}

.checkbox-button_rich{box-sizing:border-box;width:100%;margin:10px 0}

.checkbox-button{position:relative;margin:12px 0;padding-left:30px}

.color-block__color-code{font-family:Quicksand, Helvetica, Arial, sans-serif;font-size:1.35rem;font-weight:normal}

.color-block__color-name{margin:0;margin-bottom:5px}

.color-block__description{padding-left:7%}

.color-block__square_dark-shade-100{background:#1f2041}

.color-block__square_dark-shade-25{background:rgba(31,32,65,0.25)}

.color-block__square_dark-shade-5{background:rgba(31,32,65,0.05)}

.color-block__square_dark-shade-50{background:rgba(31,32,65,0.5)}

.color-block__square_dark-shade-75{background:rgba(31,32,65,0.75)}

.color-block__square_green{background:#6fcf97}

.color-block__square_purple{background:#bc9cff}

.color-block__square{flex:none;width:100%;max-width:70px;border-radius:6px;display:inline-block}.color-block__square:after{content:"";padding-top:100%;display:block}

.color-block{flex-direction:row;display:flex;align-items:center}

.dropdown__bottom-buttons-panel{flex-direction:row;display:flex;justify-content:space-between;padding-top:13px;padding-bottom:7px}

.dropdown__button-clear input{display:none}

.dropdown__check{display:none}.dropdown__check:checked ~ .dropdown__header{border-radius:4px 4px 0 0;border:1px solid rgba(31,32,65,0.5)}.dropdown__check:not(:checked) ~ .dropdown__header{transition:border-radius 0.3s 0.5s ease, border-color 0.5s ease}.dropdown__check:checked ~ .dropdown__drop-menu{transition:transform 0.4s cubic-bezier(0.73, 0.32, 0.34, 1.5);transform:scale(1, 1);opacity:1}.dropdown__check:checked ~ .dropdown__drop-menu .dropdown__option,.dropdown__check:checked ~ .dropdown__drop-menu .dropdown__bottom-buttons-panel,.dropdown__check:checked ~ .dropdown__drop-menu .calendar__days,.dropdown__check:checked ~ .dropdown__drop-menu .calendar__month-selection-section{transition:opacity 1.2s ease;opacity:1}.dropdown__check:not(:checked) ~ .dropdown__drop-menu{transition:transform 0.5s}.dropdown__check:not(:checked) ~ .dropdown__drop-menu .dropdown__option,.dropdown__check:not(:checked) ~ .dropdown__drop-menu .dropdown__bottom-buttons-panel,.dropdown__check:not(:checked) ~ .dropdown__drop-menu .calendar__days,.dropdown__check:not(:checked) ~ .dropdown__drop-menu .calendar__month-selection-section{transition:opacity 0.3s}

.dropdown__date-block{width:47%}

.dropdown__date-section{width:100%;max-width:320px;flex-direction:row;display:flex;justify-content:space-between;margin-bottom:6px}

.dropdown__drop-menu_with-border{border:1px solid rgba(31,32,65,0.5);border-top:none;box-sizing:border-box;padding:2px 6px 2px 15px;flex-direction:column;border-radius:0 0 4px 4px}

.dropdown__drop-menu{position:absolute;width:100%;background:#ffffff;box-shadow:0px 10px 20px rgba(31,32,65,0.05);transform-origin:top;transform:scale(1, 0);z-index:99}.dropdown__drop-menu .dropdown__option,.dropdown__drop-menu .dropdown__bottom-buttons-panel,.dropdown__drop-menu .calendar__days,.dropdown__drop-menu .calendar__month-selection-section{opacity:0}

.dropdown__end-date-header{position:relative}

.dropdown__expand-more_absolute{position:absolute;right:8px}

.dropdown__expand-more{color:rgba(31,32,65,0.5);pointer-events:none;display:inline-block;flex:none}

.dropdown__header-text{width:75%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;pointer-events:none;display:inline-block;flex:none}

.dropdown__header_all-angles-are-round{border-radius:4px}

.dropdown__header_top-angles-are-round{border-radius:4px 4px 0 0}

.dropdown__header{padding:9px 15px;padding-right:10px;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;display:flex;justify-content:space-between;align-items:center;color:rgba(31,32,65,0.75);transition:border-color 0.5s ease;cursor:pointer}.dropdown__header:hover,.dropdown__header:focus{border:1px solid rgba(31,32,65,0.5);outline:none}

.dropdown__option{font-weight:bold;display:flex;font-size:0.85rem;text-transform:uppercase;color:#1f2041;flex-direction:row;justify-content:space-between;align-items:center;padding:4px 0}

.dropdown__quantity-button{width:30px;height:30px;box-sizing:border-box;font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:1.28rem;color:rgba(31,32,65,0.5);border:1px solid rgba(31,32,65,0.5);border-radius:15px;background:#ffffff;transition:0.5s;cursor:pointer}.dropdown__quantity-button:focus{outline:none}.dropdown__quantity-button:hover{border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25)}.dropdown__quantity-button:active{transition:none;border:1px solid rgba(31,32,65,0.5);color:rgba(31,32,65,0.5)}.dropdown__quantity-button:disabled{border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25);cursor:default}

.dropdown__quantity-number{width:30px;text-align:center}

.dropdown__quantity-selection{flex-direction:row;display:flex;align-items:center;justify-content:center}

.dropdown__start-date-header{position:relative}

.dropdown__title{margin-bottom:5px}

.dropdown{position:relative;display:block;width:100%;max-width:500px}

.entry-card__login-section{margin-bottom:20px}

.entry-card__new-account-section{display:flex;justify-content:space-between;align-items:center;margin-top:30px}

.entry-card__title{font-family:"Open Sans", Helvetica, Arial, sans-serif;margin:8px 0 20px}

.entry-card{padding:30px;background:#ffffff;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px}

.expandable-checkbox-list__check{display:none}.expandable-checkbox-list__check:checked ~ .expandable-checkbox-list__hide-list{display:block}.expandable-checkbox-list__check:checked ~ .expandable-checkbox-list__title-section .expandable-checkbox-list__expand-more{transform:rotate(180deg)}

.expandable-checkbox-list__expand-more{color:rgba(31,32,65,0.5);transition:0.5s ease}

.expandable-checkbox-list__hide-list{flex:none;display:none}

.expandable-checkbox-list__title-section{display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding-right:10px;cursor:pointer}.expandable-checkbox-list__title-section:hover .expandable-checkbox-list__expand-more{color:rgba(31,32,65,0.75)}

.expandable-checkbox-list__title{color:#1f2041;margin-bottom:17px;margin:0}

.expandable-checkbox-list{width:100%;max-width:500px}

@media screen and (max-width: 768px){.footer__copyright-text{margin:20px 0;text-align:center}}

.footer__copyright-wrapper{box-sizing:border-box;width:100%;padding:24px 20px;display:flex;justify-content:center}

.footer__copyright{width:100%;max-width:1160px;display:flex;justify-content:space-between}@media screen and (max-width: 768px){.footer__copyright{flex-direction:column;align-items:center;padding:120px 0}}

.footer__info-column_width-260{width:260px}

.footer__info-column{list-style-type:none;padding:0}.footer__info-column+.footer__info-column{margin-left:30px}

.footer__info-item{font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;color:rgba(31,32,65,0.75);padding:7px 0}

.footer__info-title{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;text-transform:uppercase;color:#1f2041;padding:7px 0}

.footer__info-wrapper{width:100%;box-shadow:0px 1px 0px rgba(31,32,65,0.1);display:flex;justify-content:center;box-sizing:border-box;padding:0 20px}@media screen and (max-width: 768px){.footer__info-wrapper{display:none}}

.footer__info{box-sizing:border-box;width:100%;max-width:1160px;display:flex;flex-direction:row;justify-content:space-between;padding:100px 0 95px}

.footer__link{text-decoration:none;color:rgba(31,32,65,0.75)}.footer__link:hover{opacity:.5}

.footer__logo_hidden{display:none}@media screen and (max-width: 768px){.footer__logo_hidden{display:block}}

.footer__logo{padding:0}

.footer__social-link{font-size:24px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;transition:opacity 0.5s ease-in}.footer__social-link:hover{opacity:75%}.footer__social-link+.footer__social-link{margin-left:22px}

.footer{width:100%;background:#ffffff;box-shadow:0px 10px 20px rgba(31,32,65,0.05);display:flex;align-items:center;display:flex;flex-direction:column;box-sizing:border-box}

.guest-review__guest-details{display:inline-block;padding-left:10px}

.guest-review__guest-name{font-weight:bold}

.guest-review__guest{flex-direction:row;display:flex;align-items:center}

.guest-review__likes{margin-top:2px;width:48px;flex:none;display:inline-flex;justify-content:center}

.guest-review__photo{width:48px;height:48px;border:2px solid #ffffff;box-sizing:border-box;filter:drop-shadow(0px 10px 20px rgba(31,32,65,0.1));border-radius:32px}

.guest-review__rewiew-text{display:inline-block;padding-left:10px}

.guest-review__rewiew{flex-direction:row;display:flex;padding-top:10px}

.guest-review{width:100%}

.header__burger-image{position:relative;margin:0;width:25px;height:4px;background:#5c5c72ff}.header__burger-image::before{content:"";position:absolute;top:-8px;display:block;width:25px;height:4px;background:#5c5c72ff}.header__burger-image::after{content:"";position:absolute;top:8px;display:block;width:25px;height:4px;background:#5c5c72ff}

.header__burger{display:none;position:relative;z-index:11}@media screen and (max-width: 950px){.header__burger{display:block;height:20px;display:flex;align-items:center}}

.header__content{width:100%;max-width:1160px;display:flex;flex-direction:row;justify-content:space-between;align-items:center;box-sizing:border-box}

.header__logo{padding:15px 0}

.header__menu-check{display:none}.header__menu-check:checked ~ .header__burger .header__burger-image{transition:background 0.2s ease-in;background:transparent}.header__menu-check:checked ~ .header__burger .header__burger-image::after{transition:top 0.2s ease-in, transform 0.2s ease-in 0.2s;top:0;transform:rotate(45deg)}.header__menu-check:checked ~ .header__burger .header__burger-image::before{transition:top 0.2s ease-in, transform 0.2s ease-in 0.2s;top:0;transform:rotate(-45deg)}.header__menu-check:not(:checked) ~ .header__burger .header__burger-image{transition:background 0.2s ease-in 0.2s}.header__menu-check:not(:checked) ~ .header__burger .header__burger-image::after{transition:top 0.2s ease-in 0.2s, transform 0.2s ease-in}.header__menu-check:not(:checked) ~ .header__burger .header__burger-image::before{transition:top 0.2s ease-in 0.2s, transform 0.2s ease-in}

.header{position:relative;width:100%;display:flex;justify-content:center;box-shadow:0px 10px 20px rgba(31,32,65,0.05);box-sizing:border-box;padding:0 20px;z-index:100}

.impressions-diagram__diagram-legend{margin-left:13%}

.impressions-diagram__diagram-section{position:relative;width:120px;height:120px}@media screen and (max-width: 400px){.impressions-diagram__diagram-section{margin-bottom:10px}}

.impressions-diagram__legend-item_brown::before{background:linear-gradient(180deg, #919191 0%, #3d4975 100%)}

.impressions-diagram__legend-item_green::before{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}

.impressions-diagram__legend-item_purple::before{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}

.impressions-diagram__legend-item_yellow::before{background:linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%)}

.impressions-diagram__legend-item{position:relative}.impressions-diagram__legend-item::before{content:"";position:absolute;width:10px;height:10px;border-radius:50%;left:-15px;top:7px}

.impressions-diagram__votes-counter{position:absolute;top:50%;left:50%;transform:translate(-50%, -55%);display:flex;flex-direction:column;justify-content:center;align-items:center}

.impressions-diagram__votes-number{font-family:Quicksand, Helvetica, Arial, sans-serif;font-weight:bold;font-size:24px;line-height:30px;color:#bc9cff}

.impressions-diagram__votes-text{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;color:#bc9cff}

.impressions-diagram{width:100%;display:flex;align-items:flex-end;padding:12px 0;box-sizing:border-box}@media screen and (max-width: 400px){.impressions-diagram{flex-direction:column;align-items:center}}

.like-button__heart{font-size:0.71rem}@keyframes heartJump{50%{-webkit-transform:scale(1.3)}100%{-webkit-transform:scale(1)}}@keyframes heartJump2{50%{-webkit-transform:scale(0.7)}100%{-webkit-transform:scale(1)}}

.like-button__like-counter{display:inline-block}

.like-button_checked{color:#bc9cff;border:1px solid transparent;background-position:0 100%;background-image:linear-gradient(white, white),linear-gradient(180deg, rgba(31,32,65,0.25) 20%, #bc9cff 90%, #8ba4f9 100%);box-sizing:border-box;background-origin:border-box;background-clip:padding-box, border-box;-webkit-background-clip:padding-box, border-box}.like-button_checked .like-button__heart{animation:heartJump 0.2s ease}

.like-button_unchecked{color:rgba(31,32,65,0.25)}.like-button_unchecked .like-button__heart{animation:heartJump2 0.2s ease}

.like-button{width:40px;height:20px;box-sizing:border-box;border-radius:10px;font-size:0.71rem;line-height:0;display:flex;align-items:center;justify-content:space-between;padding-left:4px;padding-right:10px;cursor:pointer;transition:0.5s ease;border:1px solid transparent;background-position:top;background-size:100% 500%;background-image:linear-gradient(white, white),linear-gradient(180deg, rgba(31,32,65,0.25) 20%, #bc9cff 90%, #8ba4f9 100%);box-sizing:border-box;background-origin:border-box;background-clip:padding-box, border-box}.like-button:hover{color:#bc9cff;background-position:0 100%}

.navbar__button-entry{width:87px;height:34px}

.navbar__button-registration{width:196px;height:34px}

.navbar__dropdown-title_vertical{padding-left:7px;justify-content:center}

.navbar__dropdown-title{display:flex;flex-direction:row;color:rgba(31,32,65,0.5);text-decoration:none}

.navbar__hidden-list-item_horizontal{opacity:0;padding:5px 0}

.navbar__hidden-list-item_vertical{padding:5px 0;text-align:center;opacity:0.6}

.navbar__hidden-list-item{color:rgba(31,32,65,0.5);transition:color 0.5s ease}.navbar__hidden-list-item:hover{color:rgba(31,32,65,0.75)}

.navbar__hidden-list_horizontal{position:absolute;left:0;bottom:0;background:white;box-shadow:0px 10px 20px rgba(31,32,65,0.05);transform:translateY(100%);padding:inherit}

.navbar__hidden-list_vertical-closed{max-height:0}

.navbar__hidden-list_vertical-opened{max-height:15rem}

.navbar__hidden-list_vertical{padding:0;align-items:center;overflow:hidden;transition:max-height 0.3s ease-in}.navbar__hidden-list_vertical .header__hidden-list-item:last-child{padding-bottom:0}

.navbar__hidden-list{box-sizing:border-box;display:flex;flex-direction:column;margin:0;list-style-type:none;transform-origin:top}

.navbar__item_horizontal{display:flex;position:relative;justify-content:center;height:100%;padding:0 10px}.navbar__item_horizontal:hover .navbar__hidden-list{transition:transform 0.4s cubic-bezier(0.73, 0.32, 0.34, 1.5);transform:translateY(100%) scaleY(1);transform-origin:top}.navbar__item_horizontal:not(:hover) .navbar__hidden-list{transition:transform 0.5s;transform:translateY(100%) scaleY(0)}.navbar__item_horizontal:hover .navbar__hidden-list-item{transition:opacity 0.3s;opacity:1}.navbar__item_horizontal:not(:hover) .navbar__hidden-list-item{transition:opacity 0.3s}

.navbar__item_vertical-closed{opacity:0}

.navbar__item_vertical-opened{opacity:1}

.navbar__item_vertical{display:flex;padding:5px 0;transition:0.3s ease-in}

.navbar__item_with-name{display:none}

.navbar__item_with-separator{display:none}

.navbar__item{white-space:nowrap;font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;color:rgba(31,32,65,0.5);flex-direction:column;transition:0.5s ease;cursor:pointer}.navbar__item:hover{color:rgba(31,32,65,0.75)}

.navbar__list_horizontal{padding:0;display:flex;height:100%;flex-direction:row}@media screen and (max-width: 950px){.navbar__list_horizontal{display:none}}

.navbar__list_vertical-closed{transform:translateY(100%) scaleY(0);transition:transform 0.5s ease-in;transform-origin:top}

.navbar__list_vertical-opened{transition:transform 0.5s cubic-bezier(0.73, 0.32, 0.34, 1.5);transform:translateY(100%) scaleY(1);transform-origin:top}

.navbar__list_vertical{position:absolute;display:none;box-sizing:border-box;width:100%;font-size:18px;bottom:0;left:0;z-index:2;flex-direction:column;justify-content:start;align-items:center;padding:20px 40px;box-shadow:0px 10px 20px rgba(31,32,65,0.05)}@media screen and (max-width: 950px){.navbar__list_vertical{display:flex}}

.navbar__list{list-style-type:none;margin:0;background:white}

.navbar__separator_vertical{height:1px;width:150px}

.navbar__separator{margin:0;height:30px;width:1px;background:rgba(31,32,65,0.1)}

.navbar{position:relative;height:100%;z-index:100}

.number-card__accented-text{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:14px;color:rgba(31,32,65,0.5)}

.number-card__arrow-button_next{right:0;background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) .99%, rgba(0,0,0,0.5) 100%)}

.number-card__arrow-button_prev{left:0;background:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 99.99%, rgba(255,255,255,0) 100%)}

.number-card__arrow-button{transition:opacity 0.5s ease-in;opacity:0;position:absolute;height:100%;top:0;z-index:3;padding:0;margin:0;line-height:0;width:42px;height:100%;border:none;color:white;background:none;cursor:pointer}.number-card__arrow-button:active,.number-card__arrow-button:focus{outline:none}

.number-card__dot_active{transition:background 0.5s ease-in;background:white}

.number-card__dot_unactive{transition:background 0.5s ease-in;background:transparent;cursor:pointer}

.number-card__dot{margin:0 1.5px;width:8px;height:8px;border-radius:50%;box-sizing:border-box;border:1px solid white;filter:drop-shadow(0px 5px 5px rgba(31,32,65,0.3))}

.number-card__dots-section{position:absolute;display:flex;flex-direction:row;bottom:15px;right:13px;z-index:3}

.number-card__lux{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;text-transform:uppercase;color:#bc9cff;line-height:0}

.number-card__number-section{flex-direction:row;display:flex;justify-content:space-between;align-items:center}

.number-card__number_size-19{font-size:19px}

.number-card__number{display:inline;font-family:Quicksand, Helvetica, Arial, sans-serif;font-weight:bold;font-size:14px;color:#1f2041;line-height:0}

.number-card__rating-section{flex-direction:row;display:flex;justify-content:space-between;align-items:center}

.number-card__room-info{padding:20px}

.number-card__room-rate{display:inline-block;font-size:12px}

.number-card__separator{margin:8px 0;height:1px;background:rgba(31,32,65,0.1);width:100%}

.number-card__slider-image{border-radius:4px 4px 0 0;display:block;width:100%;transition:opacity 1s ease-in;position:absolute;z-index:2}

.number-card__slider-list-item_opacity-0{opacity:0}

.number-card__slider-list-item_opacity-1{opacity:1}

.number-card__slider-list-item{transition:opacity 0.5s ease-in}

.number-card__slider-list{width:100%;margin:0;padding:0;list-style-type:none;position:absolute;left:0;top:0}

.number-card__slider-section{position:relative;width:100%}.number-card__slider-section:hover .number-card__arrow-button{opacity:1}.number-card__slider-section::before{content:"";display:block;padding-top:56%}

.number-card{width:100%;max-width:500px;background:white;box-shadow:0px 10px 20px rgba(31,32,65,0.05);border-radius:4px;flex-direction:column}

.pagination__arrow{font-size:1.71rem;color:white}

.pagination__button_active-page{font-weight:bold;color:white;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:22px;cursor:pointer}

.pagination__button_with-arrow{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border-radius:22px;transition:0.5s ease;cursor:pointer}.pagination__button_with-arrow:hover{opacity:0.5}

.pagination__button_with-number a:hover{opacity:0.5;cursor:pointer}

.pagination__button{width:100%;max-width:40px;min-width:30px;display:inline-flex;text-decoration:none;align-items:center;justify-content:center;font-size:0.85rem}.pagination__button::before{content:"";display:block;padding-bottom:100%}

.pagination__link{text-decoration:none;color:rgba(31,32,65,0.5);display:inline-block;width:100%;max-width:40px;border-radius:22px;display:flex;align-items:center;justify-content:center;transition:0.5s ease}.pagination__link::before{content:"";display:block;padding-bottom:100%}

.pagination__pages{width:100%;margin:0;padding:0;display:inline-flex;align-items:center;justify-content:center}

.pagination__signature_with-top-margin{margin-top:10px}

.pagination__signature{display:inline-block;font-size:1rem;color:rgba(31,32,65,0.75);text-align:center}

.pagination{width:100%;display:inline-flex;flex-direction:column}

.radio-button__label{color:rgba(31,32,65,0.5);position:relative;margin-left:30px;transition:0.5s ease;cursor:pointer}.radio-button__label:hover{color:rgba(31,32,65,0.75)}.radio-button__label:hover::before{border-color:#bc9cff}.radio-button__label::before{content:"";position:absolute;top:50%;left:-20px;width:18px;height:18px;border-radius:50%;transform:translate(-50%, -50%);background-color:white;border:1px solid rgba(31,32,65,0.25);transition:border-color 0.5s ease}.radio-button__label:after{transition:0.2s ease;content:"";transform:translate(-50%, -50%) scale(0.1);visibility:hidden;position:absolute;top:50%;left:0;left:-20px;width:12px;height:12px;border-radius:50%;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}

.radio-button__radio-element{display:none}.radio-button__radio-element:checked+.radio-button__label{color:rgba(31,32,65,0.75)}.radio-button__radio-element:checked+.radio-button__label:before{border-color:#bc9cff}.radio-button__radio-element:checked+.radio-button__label:after{transform:translate(-50%, -50%) scale(1);animation:radioJump 0.2s ease;visibility:visible}@keyframes radioJump{50%{-webkit-transform:translate(-50%, -50%) scale(1.2)}100%{-webkit-transform:translate(-50%, -50%) scale(1)}}

.radio-button{flex-direction:row;display:flex;flex-wrap:wrap}.radio-button .radio-button__radio-section{margin-right:20px}.radio-button .radio-button__radio-section:last-child{margin-left:0px}

.range-slider__header-section{flex-direction:row;display:flex;justify-content:space-between;align-items:center;margin-bottom:12px}

.range-slider__input-range{position:absolute;pointer-events:none;-webkit-appearance:none;left:-8px;z-index:2;width:106%;height:10px;box-sizing:border-box;margin:0;opacity:0;cursor:pointer}.range-slider__input-range::-webkit-slider-thumb{pointer-events:all;width:16px;height:16px;border-radius:10px;border:0 none;-webkit-appearance:none}.range-slider__input-range::-moz-range-thumb{pointer-events:all;width:16px;height:16px;border-radius:10px;border:0 none;-webkit-appearance:none}

.range-slider__range-label{text-align:right;display:inline-block;font-size:0.85rem;text-transform:uppercase;color:rgba(31,32,65,0.5)}

.range-slider__range{position:absolute;height:6px;z-index:2;top:0;bottom:0;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);box-sizing:border-box;border-radius:3px}

.range-slider__slider{position:relative;width:100%;max-width:266px;height:10px;z-index:1}

.range-slider__thumb_left_hover{transform:translate(-8px, -5px) scale(1.4)}

.range-slider__thumb_left{transform:translate(-8px, -5px)}

.range-slider__thumb_right_hover{transform:translate(8px, -5px) scale(1.4)}

.range-slider__thumb_right{transform:translate(8px, -5px)}

.range-slider__thumb{position:absolute;z-index:3;width:12px;height:12px;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border:2px solid #ffffff;border-radius:10px;transition:transform 0.2s ease;cursor:pointer}

.range-slider__title{display:inline-block}

.range-slider__track{position:absolute;width:100%;max-width:266px;height:6px;left:0;right:0;top:0;bottom:0;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:3px;z-index:1}

.range-slider{position:relative;width:100%;max-width:266px}

.rate-button__star{font-size:24px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent}

.rate-button{line-height:0}

.registration-card__account-login{display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-top:30px}

.registration-card__login-details{margin:20px 0 12px}

.registration-card__person{margin:20px 0}

.registration-card__title_margin-8{margin:8px 0}

.registration-card__title{font-family:"Open Sans", Helvetica, Arial, sans-serif}

.registration-card{width:100%;padding:30px;background:white;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px}

.room-details__icon{font-size:48px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent}

.room-details__text{padding-left:10px;flex-direction:column;display:inline-flex}

.room-details__title{font-weight:bold}

.room-details{width:100%;max-width:280px;padding:20px 0;border-bottom:1px solid rgba(31,32,65,0.1);flex-direction:row;display:flex;align-items:center}

.room-rate-card__additional-service-info{width:75%;display:flex;flex-direction:row;line-height:18px;justify-content:space-between}

.room-rate-card__additional-service-tooltip{flex:none;width:20px;height:20px;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:50%;display:flex;justify-content:center;align-items:center}

.room-rate-card__additional-services{display:flex;flex-direction:row;justify-content:space-between;margin-bottom:40px}

.room-rate-card__additionals-services-label{width:90%}

.room-rate-card__cost{display:inline;font-weight:bold;font-size:14px}

.room-rate-card__drop-guests{margin:20px 0}

.room-rate-card__lux{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;text-transform:uppercase;color:#bc9cff;display:inline}

.room-rate-card__number_size-19{font-size:24px}

.room-rate-card__number{display:inline}

.room-rate-card__price-per-day{font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:12px;color:rgba(31,32,65,0.5)}

.room-rate-card__result-cost{font-family:"Open Sans", Helvetica, Arial, sans-serif;font-weight:bold;font-size:19px;color:#1f2041}

.room-rate-card__result-dots{margin:0 3px;width:100%;border-bottom:1px dashed rgba(31,32,65,0.25);box-sizing:border-box}

.room-rate-card__result-label{font-family:"Open Sans", Helvetica, Arial, sans-serif;font-weight:bold;font-size:19px;color:#1f2041}

.room-rate-card__result{display:flex;flex-direction:row;line-height:12px;align-items:flex-end;margin:25px 0}

.room-rate-card__room-info{margin:13px 0 6px;display:flex;flex-direction:row;justify-content:space-between;align-items:baseline}

.room-rate-card__room-number{font-family:Quicksand, Helvetica, Arial, sans-serif;font-weight:bold;font-size:14px;color:#1f2041}

.room-rate-card__room-rate-calc{margin-bottom:10px;display:flex;flex-direction:row;justify-content:space-between;font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:normal;font-size:14px;color:rgba(31,32,65,0.75)}

.room-rate-card__room-rate-label{display:inline}

.room-rate-card__service-info{width:75%;display:flex;line-height:18px;flex-direction:row;justify-content:space-between}

.room-rate-card__service-tooltip{flex:none;width:20px;height:20px;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:50%;display:flex;justify-content:center;align-items:center}

.room-rate-card__services-label{width:90%}

.room-rate-card__services{margin-bottom:10px;display:flex;flex-direction:row;justify-content:space-between}

.room-rate-card__tooltip{position:relative;font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;color:rgba(31,32,65,0.25);cursor:default}.room-rate-card__tooltip:before{content:"";z-index:3;border:5px solid transparent;user-select:none;pointer-events:none;position:absolute;display:none;opacity:0}.room-rate-card__tooltip:after{content:attr(tooltip);max-width:200px;min-width:150px;z-index:2;user-select:none;pointer-events:none;position:absolute;display:none;opacity:0;font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:bold;font-size:12px;color:rgba(31,32,65,0.25);text-align:center;padding:10px;border-radius:3px;box-shadow:0 1em 2em -0.5em rgba(0,0,0,0.35);background:#333;color:#fff}.room-rate-card__tooltip:hover::before,.room-rate-card__tooltip:hover::after{display:block}.room-rate-card__tooltip:not([flow])::before,.room-rate-card__tooltip[flow^="up"]::before{bottom:100%;border-bottom-width:0;border-top-color:#333}.room-rate-card__tooltip:not([flow])::after,.room-rate-card__tooltip[flow^="up"]::after{bottom:calc(100% + 5px)}.room-rate-card__tooltip:not([flow])::before,.room-rate-card__tooltip:not([flow])::after,.room-rate-card__tooltip[flow^="up"]::before,.room-rate-card__tooltip[flow^="up"]::after{left:50%;transform:translate(-50%, -0.5em)}.room-rate-card__tooltip:not([flow]):hover::before,.room-rate-card__tooltip:not([flow]):hover::after,.room-rate-card__tooltip[flow^="up"]:hover::before,.room-rate-card__tooltip[flow^="up"]:hover::after,.room-rate-card__tooltip[flow^="down"]:hover::before,.room-rate-card__tooltip[flow^="down"]:hover::after{animation:tooltips-vert 300ms ease-out forwards}.room-rate-card__tooltip[flow^="left"]:hover::before,.room-rate-card__tooltip[flow^="left"]:hover::after,.room-rate-card__tooltip[flow^="right"]:hover::before,.room-rate-card__tooltip[flow^="right"]:hover::after{animation:tooltips-horz 300ms ease-out forwards}@keyframes tooltips-vert{to{opacity:0.9;transform:translate(-50%, 0)}}@keyframes tooltips-horz{to{opacity:0.9;transform:translate(0, -50%)}}

.room-rate-card{padding:30px;background:white;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px}

.search-room-card__button{margin-top:30px}

.search-room-card__dropdown{margin-bottom:20px}

.search-room-card__title_margins{margin:8px 0 10px}

.search-room-card__title{font-family:"Open Sans", Helvetica, Arial, sans-serif}

.search-room-card{padding:30px;background:white;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px}

.text-field__arrow-forward{background:-moz-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);background:-webkit-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);background:linear-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;transition:0.5s}

.text-field__field_subscription{padding-right:43px}

.text-field__field{width:100%;max-width:500px;border:1px solid rgba(31,32,65,0.25);border-radius:4px;padding:13px 15px 12px;box-sizing:border-box;font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:400;font-size:1rem;color:rgba(31,32,65,0.75);transition:0.5s}.text-field__field::placeholder{color:rgba(31,32,65,0.25)}.text-field__field:focus{border:1px solid rgba(31,32,65,0.5);outline:none}

.text-field__subscription-btn{position:absolute;transform:translate(-10px, 10px);right:0;border:none;background:none;padding:0px;cursor:pointer}.text-field__subscription-btn:focus{outline:none}.text-field__subscription-btn:hover .text-field__arrow-forward{opacity:0.5}.text-field__subscription-btn:active .text-field__arrow-forward{transition:none;opacity:1}

.text-field__title{margin:5px 0}

.text-field{position:relative;margin-bottom:10px}.text-field:hover .text-field__field{border:1px solid rgba(31,32,65,0.5);outline:none}

.toggle__checkbox{display:none}.toggle__checkbox:checked+.toggle__label::before{border:1px solid #bc9cff}.toggle__checkbox:checked+.toggle__label::after{transform:translate(20px, 0);background-position:0 100%}

.toggle__label{position:relative;display:inline-flex;align-content:center;color:rgba(31,32,65,0.75);transition:color 0.5s ease;cursor:pointer}.toggle__label:hover{color:#1f2041}.toggle__label:hover::before{border-color:#bc9cff}.toggle__label:hover::after{background-position:0 100%}.toggle__label::before{flex:none;transition:0.5s ease;content:"";margin-right:10px;display:inline-block;box-sizing:border-box;width:40px;height:20px;border:1px solid rgba(31,32,65,0.25);border-radius:10px}.toggle__label::after{transition:all 0.5s;content:"";position:absolute;top:4px;left:4px;margin-right:10px;display:inline-block;width:12px;height:12px;border-radius:10px;background-position:top;background-size:100% 500%;background-image:linear-gradient(180deg, rgba(31,32,65,0.25) 20%, #bc9cff 90%, #8ba4f9 100%)}

.type-block__tag{font-family:Montserrat, Helvetica, Arial, sans-serif;margin:0;width:49px;text-align:right;flex:none;font-weight:300;color:rgba(31,32,65,0.25)}

.type-block__text{padding-left:30px;margin:0}

.type-block{flex-direction:row;display:flex;flex-wrap:nowrap}

